.about-last{
   
  display:grid;
  grid-column:full-start/full-end;
  //background-color: orange;
  background-color: #fff;
  
 //verflow: hidden;

 
  


  &__heading-last{
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(min-content,min-content));
      justify-content:center;
      font-size:5rem;
      font-family:$font-dance;
      color:#000;

  }
  &__paragraph-last{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(min-content,min-content));
    justify-content: center; 
    font-size:1.8rem;
    margin-top:3rem;
    font-family:$font-dance;
  }
  &__items{
      list-style:none;
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(min-content,min-content));
      justify-content: center;
      margin-top: 4rem;
      
    

     
  }
  &__item{
     font-size:1.5rem;
     line-height: 2.4rem;
    &:last-child{
        margin-bottom: 50rem;
    }


}
  
}